.biz-data-list {
  &.table-container {
    .text-hidden {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: pre-wrap; // 有换行符自动换行
    }
    .page-container {
      position: sticky;
      bottom: 0;
      z-index: 1000;
      padding: 16px 0;
      margin-bottom: -16px;
      background: #fff;
      .el-pagination {
        float: right;
        padding: 0;
      }
    }
  }
  &.clearfix {
    &::after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }
  }
}
